$white:#ffffff;
$light-gray: #A0A4A7;
$medium-grey: #3B4148;
$dark-grey:#282E36;
$black: #14181d;
$blue:#0084FF;
$art-light-grey:#00000059;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');

@font-face {
    font-family: "Montserrat";
    src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap");
  }